<!DOCTYPE html>

<html>

<head>
<title>Was Bank Co.</title>
</head>

<body>

<h1>Welcome to the Was Bank Co.</h1>



<!--
<form action= "/predict_html" method="post">
	<label for="fname"> Variance: </label><br>
	<input type="text" id="variance" name="variance"><br>
	
	<label for="lname"> skewness: </label><br>
	<input type="text" id="skewness" name="skewness"><br>
	
	<label for="lname"> curtosis: </label><br>
	<input type="text" id="curtosis" name="curtosis"><br>
	
	<label for="lname"> entropy: </label><br>
	<input type="text" id="entropy" name="entropy"><br>
	
	<input type="submit">
</form>
-->

<br>
<!--
<p>Or you can upload file</p>
<form action= "/predict_html_file" method="post" enctype="multipart/form-data">
  
  <br><input type="file" name="file">
  <input     type="submit">
</form>
-->

<p>Login:</p>

<form action="/login_sucess", method="POST">
	<label for="username">Username</p>
	<input type="text" id="username" name="username"> <br><br>

	<label for="password">Password</p>
	<input type="password" id="password" name="password"> <br><br>

	<input type="submit" value="submit">
</form>

{% block body %}
	{% if wrong_info == True %}
		<p> The username/password you enter is not correct. Try enetering the correct details</p>
	{% endif %}
{% endblock %}

<p>forgot password?</p>

<p>Didnt register? Sign in <a href="register_here_page">here</a></p>




</body>

</html>