<!DOCTYPE html>

<html>

<head>
<title>Was Bank Co.</title>
</head>

<body>

<h1>Welcome to the Wasil Bank Co.</h1>

<p>Type in your username and password as you like</p>

<form action = "/register_username" method="POST">
			
	<label for="first_name_reg">First Name</label>  <input type="text" id="first_name_reg" name="first_name_reg"> <br><br>
	
	<label for="last_name_reg">Last Name</label>	<input type="text" id="last_name_reg" name="last_name_reg"> <br><br>
	
	<label for="username_reg">Username</label>		<input type="text" id="username_reg" name="username_reg"> <br><br>
	
	<label for="password_reg">Password</label>		<input type="password" id="password_reg" name="password_reg"> <br><br>
	
	<input type="submit" value="Sign in">
</form>

{% block body %}
	{% if registered == True %}
		<p> You have successfully signed in. </p>
		<p> Now, go <a href='/'>back</a> and log in to your account </p>
	{% endif %}
{% endblock %}

</body>

</html>